@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.projects-container {
  @include dflex(space-between, flex-start);

  flex-direction: column;
  width: 1340px;
  margin-top: 70px;

  &:before {
    @include pseudoEl("", absolute, 3871px);

    width: 1340px;
    background: white;
    height: 5px;
  }
}