@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

html {
  scroll-behavior: smooth
}

.main-container {
  @include dflex();
  
  max-width: 1440px;
  flex-direction: column;
  background: $pageGradient;
  color: $pageFontColor;
}
