@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

html {
  scroll-behavior: smooth
}

body {
  background: $pageGradient;
}

.page-container {
  @include dflex();
  margin: 0 auto;
  max-width: 1340px;
  flex-direction: column;
  color: $pageFontColor;
}

.main-container {
  @include dflex();
  flex-direction: column;
  max-width: 100%;
}

// @include lg_display_1350() {
//   .header-container {
//     max-width: 1100px;

//     .nav-item {  
//       gap: 10px;
//     }
//   }

// }