@mixin dflex($just: center, $align: center) {
  display: flex;
  align-items: $align;
  justify-content: $just;
}

@mixin pseudoEl($content: "", $pos: absolute, $top: 0, $zind: -1) {
  content: $content;
  position: $pos;
  top: $top;
  z-index: $zind;
}

@mixin sm_tablet_start() {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin md_laptop_start() {
  @media screen and (max-width: 900px) {
    @content;
  }
}

@mixin lg_display_1350() {
  @media screen and (max-width: 1350px) {
    @content;
  }
}