@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.header-container {
  max-width: 100%;
}

.navigation {
  @include dflex(space-between, center);
  // padding-top: 4px;
  backdrop-filter: blur(31px);

  .nav-links {
    @include dflex(flex-end, center);
    gap: 30px;
  }

  .nav-title {
    font-size: 42px;
    font-weight: 600;
    line-height: 63px;
  }

  .nav-item {
    @include dflex();
    
    gap: 30px;
    font-size: 26px;
    font-weight: 600;
  }
  
  .languageToggler {
    color: $pageFontColor;
  }

  &:before {
    @include pseudoEl("", absolute, 61px);

    width: 100%;
    background: white;
    height: 5px;
  }

  .nav-burger,
  .nav-slider {
    display: none;
  }
}

@include lg_display_1360() {
  .header-container {
    max-width: 97%;
  }

  .navigation {
    .nav-item,
    .nav-links {  
      gap: 10px;
    }
  }
}

@include lg_display_1200() {
  .navigation {
    .nav-item {
      font-size: 22px;
    }

    .nav-title {
      font-size: 36px;
    }
  }
}

@include md_laptop_1000() {
  .navigation {
    .nav-item {  
      flex-wrap: wrap;
      row-gap: 0px;
    }
  }
}

@include sm_tablet_700() {
  .navigation {
    .nav-item {
      font-size: 18px;
      width: 80%;
    }

    .nav-title {
      font-size: 32px;
    }
  }
}

@include sm_tablet_550() {
  .navigation {
    .nav-item {
      font-size: 18px;
      width: 80%;
    }

    .nav-title {
      font-size: 32px;
      flex-grow: 4;
    }

    .nav-links {
      display: none;
    }

    .nav-burger {
      @include dflex(space-between, center);
      gap: 20px;
      flex-grow: 3;
    }

    .nav-slider {
      @include dflex();

      width: 100%;
      position: absolute;
      top: 10px;
      background-color: #16A085;
      border: 5px solid white;
      border-radius: 10px;
    }

    .nav-slider-title {
      @include dflex(space-between, center);
      gap: 10px;
      width: 95%;
    }

    .nav-slider-links {
      @include dflex();

      width: 100%;
      flex-direction: column;
      gap: 10px;
      padding: 5px;

      a {
        color: white;
      }
    }

    .close {
      display: none;
    }
  }
}

.react-icons-header {
  vertical-align: middle;
}