@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.header-container {
  // @include dflex(space-between, center);
  // flex-direction: row;
  max-width: 100%;
}

.navigation {
  @include dflex(space-between, center);
  padding-top: 4px;

  .nav-links {
    @include dflex(flex-end, center);
    gap: 30px;
  }

  .nav-title {
    font-size: 42px;
    font-weight: 600;
    line-height: 63px;
  }

  .nav-item {
    @include dflex();
    
    gap: 30px;
    font-size: 26px;
    font-weight: 600;
  }
  
  .languageToggler {
    color: $pageFontColor;
  }

  &:before {
    @include pseudoEl("", absolute, 71px);

    width: 100%;
    background: white;
    height: 5px;
  }
}

@include lg_display_1350() {
  .header-container {
    max-width: 97%;
  }

  .navigation {
    .nav-item,
    .nav-links {  
      gap: 10px;
    }
  }
}

@include lg_display_1200() {
  .navigation {
    .nav-item {
      font-size: 22px;
    }

    .nav-title {
      font-size: 36px;
    }
  }
}

@include md_laptop_1000() {
  .navigation {
    .nav-item {  
      flex-wrap: wrap;
      font-size: 22px;
      row-gap: 0px;
    }

    .nav-title {
      font-size: 36px;
    }
  }
}

@include sm_tablet_700() {
  .navigation {
    .nav-item {
      font-size: 18px;
      width: 80%;
    }

    .nav-title {
      font-size: 32px;
    }
  }
}