@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.experience-container {
  @include dflex(space-between, flex-start);

  flex-direction: column;
  width: 100%;
  margin-top: 70px;
  height: 795px;

  &:before {
    @include pseudoEl("", absolute, 3871px);

    width: 1340px;
    background: white;
    height: 5px;
  }

  .experience-title {
    font-size: 42px;
    font-weight: 600;
    line-height: 63px;
  }

  .experience-text {
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
  }

  .margin {
    margin-top: 20px;
  }

  .bold {
    font-weight: 700;
  }

  .projects-btn-container {
    @include dflex(flex-start, center);
    width: 100%;
    margin-top: 30px;
  
    .projects-btn {
      font-size: 28px;
      font-weight: 800;
      line-height: 42px;
    }
  }
}



@include lg_display_1350() {
  .experience-container {
    width: 97%;
  
    &:before {
      width: 97%;
    }

    .experience-title {
      font-size: 38px;
      line-height: 63px;
    }
  
    .experience-text {
      font-size: 24px;
      line-height: 38px;
    }
  }
}

@include lg_display_1200() {
  .experience-container {
    .experience-title {
      font-size: 34px;
      line-height: 43px;
    }
  
    .experience-text {
      font-size: 22px;
    }
  }
}

@include md_laptop_1000() {
  .experience-container {
    .experience-title {
      font-size: 28px;
      line-height: 38px;
    }
  
    .experience-text {
      font-size: 20px;
      line-height: 32px;
    }

    .margin {
      margin-top: 15px;
    }

    .projects-btn-container {
      margin-top: 25px;
    }
  }
}

@include sm_tablet_700() {
  .experience-container {
    width: 95%;

    .experience-title {
      font-size: 26px;
      line-height: 36px;
    }
  
    .experience-text {
      font-size: 18px;
      line-height: 26px;
    }

    .margin {
      margin-top: 10px;
    }

    .projects-btn-container {
      @include dflex();
      margin-top: 20px;
    }
  }
}

@include sm_tablet_550() {
  .experience-container {
    width: 93%;

    .experience-title {
      font-size: 24px;
      line-height: 30px;
    }
  
    .experience-text {
      font-size: 16px;
      line-height: 22px;
    }
  }
}