@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.button {
  border-color: white;
  color: white;

  &.active {
    background-color: white;
    color: transparent;
  }
}

@include sm_tablet_700() {
  .button {
    padding: 5px;
  }
}